.base { color: var(--base-color); }
.base2 { color: var(--base-color2); }
.base3 { color: var(--base-color3); }
.contrast { color: var(--contrast-color); }
.contrast2 { color: var(--contrast-color2); }
.contrast3 { color: var(--contrast-color3); }
.primary { color: var(--primary); }
.primary2 { color: var(--primary2); }
.primary3 { color: var(--primary3); }
.secondary { color: var(--secondary); }
.secondary2 { color: var(--secondary2); }
.secondary3 { color: var(--secondary3); }

.muted { color: var(--muted); }
.muted2 { color: var(--muted2); }
.muted3 { color: var(--muted3); }
.error { color: var(--error); }

.bg-clear { background-color: transparent; }
.bg-base { background-color: var(--base-color); }
.bg-base2 { background-color: var(--base-color2); }
.bg-base3 { background-color: var(--base-color3); }
.bg-contrast { background-color: var(--contrast-color); }
.bg-contrast2 { background-color: var(--contrast-color2); }
.bg-contrast3 { background-color: var(--contrast-color3); }
.bg-primary { background-color: var(--primary); }
.bg-primary2 { background-color: var(--primary2); }
.bg-primary3 { background-color: var(--primary3); }
.bg-secondary { background-color: var(--secondary); }
.bg-secondary2 { background-color: var(--secondary2); }
.bg-secondary3 { background-color: var(--secondary3); }
.bg-muted { background-color: var(--muted); }
.bg-muted2 { background-color: var(--muted2); }
.bg-muted3 { background-color: var(--muted3); }
.bg-error { background-color: var(--error); }

.no-border { border: none; }

.border-base { border: solid 1px var(--base-color); }
.border-base2 { border: solid 1px var(--base-color2); }
.border-base3 { border: solid 1px var(--base-color3); }
.border-top-base { border-top: solid 1px var(--base-color); }
.border-top-base2 { border-top: solid 1px var(--base-color2); }
.border-top-base3 { border-top: solid 1px var(--base-color3); }
.border-right-base { border-right: solid 1px var(--base-color); }
.border-right-base2 { border-right: solid 1px var(--base-color2); }
.border-right-base3 { border-right: solid 1px var(--base-color3); }
.border-bottom-base { border-bottom: solid 1px var(--base-color); }
.border-bottom-base2 { border-bottom: solid 1px var(--base-color2); }
.border-bottom-base3 { border-bottom: solid 1px var(--base-color3); }
.border-left-base { border-left: solid 1px var(--base-color); }
.border-left-base2 { border-left: solid 1px var(--base-color2); }
.border-left-base3 { border-left: solid 1px var(--base-color3); }

.border-contrast { border: solid 1px var(--contrast); }
.border-contrast2 { border: solid 1px var(--contrast2); }
.border-contrast3 { border: solid 1px var(--contrast3); }
.border-top-contrast { border-top: solid 1px var(--contrast); }
.border-top-contrast2 { border-top: solid 1px var(--contrast2); }
.border-top-contrast3 { border-top: solid 1px var(--contrast3); }
.border-right-contrast { border-right: solid 1px var(--contrast); }
.border-right-contrast2 { border-right: solid 1px var(--contrast2); }
.border-right-contrast3 { border-right: solid 1px var(--contrast3); }
.border-bottom-contrast { border-bottom: solid 1px var(--contrast); }
.border-bottom-contrast2 { border-bottom: solid 1px var(--contrast2); }
.border-bottom-contrast3 { border-bottom: solid 1px var(--contrast3); }
.border-left-contrast { border-left: solid 1px var(--contrast); }
.border-left-contrast2 { border-left: solid 1px var(--contrast2); }
.border-left-contrast3 { border-left: solid 1px var(--contrast3); }

.border-primary { border: solid 1px var(--primary); }
.border-primary2 { border: solid 1px var(--primary2); }
.border-primary3 { border: solid 1px var(--primary3); }
.border-top-primary { border-top: solid 1px var(--primary); }
.border-top-primary2 { border-top: solid 1px var(--primary2); }
.border-top-primary3 { border-top: solid 1px var(--primary3); }
.border-right-primary { border-right: solid 1px var(--primary); }
.border-right-primary2 { border-right: solid 1px var(--primary2); }
.border-right-primary3 { border-right: solid 1px var(--primary3); }
.border-bottom-primary { border-bottom: solid 1px var(--primary); }
.border-bottom-primary2 { border-bottom: solid 1px var(--primary2); }
.border-bottom-primary3 { border-bottom: solid 1px var(--primary3); }
.border-left-primary { border-left: solid 1px var(--primary); }
.border-left-primary2 { border-left: solid 1px var(--primary2); }
.border-left-primary3 { border-left: solid 1px var(--primary3); }

.border-secondary { border: solid 1px var(--secondary); }
.border-secondary2 { border: solid 1px var(--secondary2); }
.border-secondary3 { border: solid 1px var(--secondary3); }
.border-top-secondary { border-top: solid 1px var(--secondary); }
.border-top-secondary2 { border-top: solid 1px var(--secondary2); }
.border-top-secondary3 { border-top: solid 1px var(--secondary3); }
.border-right-secondary { border-right: solid 1px var(--secondary); }
.border-right-secondary2 { border-right: solid 1px var(--secondary2); }
.border-right-secondary3 { border-right: solid 1px var(--secondary3); }
.border-bottom-secondary { border-bottom: solid 1px var(--secondary); }
.border-bottom-secondary2 { border-bottom: solid 1px var(--secondary2); }
.border-bottom-secondary3 { border-bottom: solid 1px var(--secondary3); }
.border-left-secondary { border-left: solid 1px var(--secondary); }
.border-left-secondary2 { border-left: solid 1px var(--secondary2); }
.border-left-secondary3 { border-left: solid 1px var(--secondary3); }

.border-muted { border: solid 1px var(--muted); }
.border-muted2 { border: solid 1px var(--muted2); }
.border-muted3 { border: solid 1px var(--muted3); }
.border-top-muted { border-top: solid 1px var(--muted); }
.border-top-muted2 { border-top: solid 1px var(--muted2); }
.border-top-muted3 { border-top: solid 1px var(--muted3); }
.border-right-muted { border-right: solid 1px var(--muted); }
.border-right-muted2 { border-right: solid 1px var(--muted2); }
.border-right-muted3 { border-right: solid 1px var(--muted3); }
.border-bottom-muted { border-bottom: solid 1px var(--muted); }
.border-bottom-muted2 { border-bottom: solid 1px var(--muted2); }
.border-bottom-muted3 { border-bottom: solid 1px var(--muted3); }
.border-left-muted { border-left: solid 1px var(--muted); }
.border-left-muted2 { border-left: solid 1px var(--muted2); }
.border-left-muted3 { border-left: solid 1px var(--muted3); }

.shadow { box-shadow: 0 2px 5px var(--shadow-color); }
.shadow-top { box-shadow: 0 -2px 10px var(--shadow-color); }
.shadow-bottom { box-shadow: 0 2px 15px var(--shadow-color); }
.shadow-inset { box-shadow: inset 0 2px 5px var(--shadow-color); }
.text-shadow { text-shadow: 1px 0px 3px var(--shadow-color); }

.opacity90 { opacity: .9; }
.opacity80 { opacity: .8; }
.opacity70 { opacity: .7; }
.opacity60 { opacity: .6; }
.opacity50 { opacity: .5; }
.opacity40 { opacity: .4; }
.opacity30 { opacity: .3; }
.opacity20 { opacity: .2; }
.opacity10 { opacity: .1; }
.opacity0 { opacity: 0; }