$spacing-unit: var(--spacing-unit);

.p0 { padding: 0; }
.p05 { padding: calc(calc(0.5 * $spacing-unit)); }
.p1 { padding: calc(calc(1 * $spacing-unit)); }
.p2 { padding: calc(2 * $spacing-unit); }
.p3 { padding: calc(3 * $spacing-unit); }
.p4 { padding: calc(4 * $spacing-unit); }
.p5 { padding: calc(5 * $spacing-unit); }
.p0-top { padding-top: 0; }
.p05-top { padding-top: calc(calc(0.5 * $spacing-unit)); }
.p1-top { padding-top: calc(1 * $spacing-unit); }
.p2-top { padding-top: calc(2 * $spacing-unit); }
.p3-top { padding-top: calc(3 * $spacing-unit); }
.p4-top { padding-top: calc(4 * $spacing-unit); }
.p5-top { padding-top: calc(5 * $spacing-unit); }
.p0-right { padding-right: 0; }
.p05-right { padding-right: calc(calc(0.5 * $spacing-unit)); }
.p1-right { padding-right: calc(1 * $spacing-unit); }
.p2-right { padding-right: calc(2 * $spacing-unit); }
.p3-right { padding-right: calc(3 * $spacing-unit); }
.p4-right { padding-right: calc(4 * $spacing-unit); }
.p5-right { padding-right: calc(5 * $spacing-unit); }
.p0-bottom { padding-bottom: 0; }
.p05-bottom { padding-bottom: calc(calc(0.5 * $spacing-unit)); }
.p1-bottom { padding-bottom: calc(1 * $spacing-unit); }
.p2-bottom { padding-bottom: calc(2 * $spacing-unit); }
.p3-bottom { padding-bottom: calc(3 * $spacing-unit); }
.p4-bottom { padding-bottom: calc(4 * $spacing-unit); }
.p5-bottom { padding-bottom: calc(5 * $spacing-unit); }
.p0-left { padding-left: 0; }
.p05-left { padding-left: calc(calc(0.5 * $spacing-unit)); }
.p1-left { padding-left: calc(1 * $spacing-unit); }
.p2-left { padding-left: calc(2 * $spacing-unit); }
.p3-left { padding-left: calc(3 * $spacing-unit); }
.p4-left { padding-left: calc(4 * $spacing-unit); }
.p5-left { padding-left: calc(5 * $spacing-unit); }
.p1-h { padding: 0 calc(1 * $spacing-unit); }
.p2-h { padding: 0 calc(2 * $spacing-unit); }

.m1 { margin: calc(1 * $spacing-unit); }
.m2 { margin: calc(2 * $spacing-unit); }
.m3 { margin: calc(3 * $spacing-unit); }
.m4 { margin: calc(4 * $spacing-unit); }
.m5 { margin: calc(5 * $spacing-unit); }
.m1-top { margin-top: calc(1 * $spacing-unit); }
.m2-top { margin-top: calc(2 * $spacing-unit); }
.m3-top { margin-top: calc(3 * $spacing-unit); }
.m4-top { margin-top: calc(4 * $spacing-unit); }
.m5-top { margin-top: calc(5 * $spacing-unit); }
.m1-right { margin-right: calc(1 * $spacing-unit); }
.m2-right { margin-right: calc(2 * $spacing-unit); }
.m3-right { margin-right: calc(3 * $spacing-unit); }
.m4-right { margin-right: calc(4 * $spacing-unit); }
.m5-right { margin-right: calc(5 * $spacing-unit); }
.m1-bottom { margin-bottom: calc(1 * $spacing-unit); }
.m2-bottom { margin-bottom: calc(2 * $spacing-unit); }
.m3-bottom { margin-bottom: calc(3 * $spacing-unit); }
.m4-bottom { margin-bottom: calc(4 * $spacing-unit); }
.m5-bottom { margin-bottom: calc(5 * $spacing-unit); }
.m1-left { margin-left: calc(1 * $spacing-unit); }
.m2-left { margin-left: calc(2 * $spacing-unit); }
.m3-left { margin-left: calc(3 * $spacing-unit); }
.m4-left { margin-left: calc(4 * $spacing-unit); }
.m5-left { margin-left: calc(5 * $spacing-unit); }

.m-1-right { margin-right: calc(-1 * $spacing-unit); }
.m-2-right { margin-right: calc(-2 * $spacing-unit); }
.m-1-left { margin-left: calc(-1 * $spacing-unit); }
.m-2-left { margin-left: calc(-2 * $spacing-unit); }