$spacing-unit: var(--spacing-unit);

.p0 { padding: 0; }
.p05 { padding: calc(calc(0.5 * $spacing-unit)); }
.p1 { padding: calc(calc(1 * $spacing-unit)); }
.p2 { padding: calc(2 * $spacing-unit); }
.p3 { padding: calc(3 * $spacing-unit); }
.p4 { padding: calc(4 * $spacing-unit); }
.p5 { padding: calc(5 * $spacing-unit); }
.p0-top { padding-top: 0; }
.p05-top { padding-top: calc(calc(0.5 * $spacing-unit)); }
.p1-top { padding-top: calc(1 * $spacing-unit); }
.p2-top { padding-top: calc(2 * $spacing-unit); }
.p3-top { padding-top: calc(3 * $spacing-unit); }
.p4-top { padding-top: calc(4 * $spacing-unit); }
.p5-top { padding-top: calc(5 * $spacing-unit); }
.p0-right { padding-right: 0; }
.p05-right { padding-right: calc(calc(0.5 * $spacing-unit)); }
.p1-right { padding-right: calc(1 * $spacing-unit); }
.p2-right { padding-right: calc(2 * $spacing-unit); }
.p3-right { padding-right: calc(3 * $spacing-unit); }
.p4-right { padding-right: calc(4 * $spacing-unit); }
.p5-right { padding-right: calc(5 * $spacing-unit); }
.p0-bottom { padding-bottom: 0; }
.p05-bottom { padding-bottom: calc(calc(0.5 * $spacing-unit)); }
.p1-bottom { padding-bottom: calc(1 * $spacing-unit); }
.p2-bottom { padding-bottom: calc(2 * $spacing-unit); }
.p3-bottom { padding-bottom: calc(3 * $spacing-unit); }
.p4-bottom { padding-bottom: calc(4 * $spacing-unit); }
.p5-bottom { padding-bottom: calc(5 * $spacing-unit); }
.p0-left { padding-left: 0; }
.p05-left { padding-left: calc(calc(0.5 * $spacing-unit)); }
.p1-left { padding-left: calc(1 * $spacing-unit); }
.p2-left { padding-left: calc(2 * $spacing-unit); }
.p3-left { padding-left: calc(3 * $spacing-unit); }
.p4-left { padding-left: calc(4 * $spacing-unit); }
.p5-left { padding-left: calc(5 * $spacing-unit); }
.p1-h { padding: 0 calc(1 * $spacing-unit); }
.p2-h { padding: 0 calc(2 * $spacing-unit); }

.m1 { margin: calc(1 * $spacing-unit); }
.m2 { margin: calc(2 * $spacing-unit); }
.m3 { margin: calc(3 * $spacing-unit); }
.m4 { margin: calc(4 * $spacing-unit); }
.m5 { margin: calc(5 * $spacing-unit); }
.m1-top { margin-top: calc(1 * $spacing-unit); }
.m2-top { margin-top: calc(2 * $spacing-unit); }
.m3-top { margin-top: calc(3 * $spacing-unit); }
.m4-top { margin-top: calc(4 * $spacing-unit); }
.m5-top { margin-top: calc(5 * $spacing-unit); }
.m1-right { margin-right: calc(1 * $spacing-unit); }
.m2-right { margin-right: calc(2 * $spacing-unit); }
.m3-right { margin-right: calc(3 * $spacing-unit); }
.m4-right { margin-right: calc(4 * $spacing-unit); }
.m5-right { margin-right: calc(5 * $spacing-unit); }
.m1-bottom { margin-bottom: calc(1 * $spacing-unit); }
.m2-bottom { margin-bottom: calc(2 * $spacing-unit); }
.m3-bottom { margin-bottom: calc(3 * $spacing-unit); }
.m4-bottom { margin-bottom: calc(4 * $spacing-unit); }
.m5-bottom { margin-bottom: calc(5 * $spacing-unit); }
.m1-left { margin-left: calc(1 * $spacing-unit); }
.m2-left { margin-left: calc(2 * $spacing-unit); }
.m3-left { margin-left: calc(3 * $spacing-unit); }
.m4-left { margin-left: calc(4 * $spacing-unit); }
.m5-left { margin-left: calc(5 * $spacing-unit); }

.m-1-right { margin-right: calc(-1 * $spacing-unit); }
.m-2-right { margin-right: calc(-2 * $spacing-unit); }
.m-1-left { margin-left: calc(-1 * $spacing-unit); }
.m-2-left { margin-left: calc(-2 * $spacing-unit); }

.p1px-right { padding-right: 1px;}
.p1px-left { padding-left: 1px;}
.p1px-top { padding-top: 1px;}
.p1px-bottom { padding-bottom: 1px;}

.p2px { padding: 2px;}
.p2px-right { padding-right: 2px;}
.p2px-left { padding-left: 2px;}
.p2px-top { padding-top: 2px;}
.p2px-bottom { padding-bottom: 2px;}
.p4px { padding: 4px;}
.p4px-right { padding-right: 4px;}
.p4px-left { padding-left: 4px;}
.p4px-top { padding-top: 4px;}
.p4px-bottom { padding-bottom: 4px;}

.x10 { width: 10px;}
.x20 { width: 20px;}
.y10 { height: 10px;}
.y20 { height: 20px;}

.m1px-right { margin-right: 1px;}
.m1px-left { margin-left: 1px;}
.m1px-top { margin-top: 1px;}
.m1px-bottom { margin-bottom: 1px;}
.m2px-right { margin-right: 2px;}
.m2px-left { margin-left: 2px;}
.m2px-top { margin-top: 2px;}
.m2px-bottom { margin-bottom: 2px;}

.font0 { font-size: var(); }
.font-2em { font-size: 2em; }
.font-3em { font-size: 3em; }
.font-4em { font-size: 4em; }
.font-5em { font-size: 5em; }
.italic { font-style: italic;}

.b2 { border-width: 2px;}
.b3 { border-width: 3px;}
.b4 { border-width: 4px;}
.b5 { border-width: 5px;}