:root {
  --spacing-unit: 8px;
  --light-factor: 40;

  --base-colorR: 245; --base-colorG: 245; --base-colorB: 245;
  --base-color: rgb(var(--base-colorR), var(--base-colorG), var(--base-colorB));
  --base-color2: rgb(
    calc(var(--base-colorR) + var(--light-factor)),
    calc(var(--base-colorG) + var(--light-factor)),
    calc(var(--base-colorB) + var(--light-factor))
  );
  --base-color3: rgb(
    calc(var(--base-colorR) + (2 * var(--light-factor))),
    calc(var(--base-colorG) + (2 * var(--light-factor))),
    calc(var(--base-colorB) + (2 * var(--light-factor)))
  );

  --contrast-colorR: 10; --contrast-colorG: 15; --contrast-colorB: 15;
  --contrast-color: rgb(var(--contrast-colorR), var(--contrast-colorG), var(--contrast-colorB));
  --contrast-color2: rgb(
    calc(var(--contrast-colorR) + var(--light-factor)),
    calc(var(--contrast-colorG) + var(--light-factor)),
    calc(var(--contrast-colorB) + var(--light-factor))
  );
  --contrast-color3: rgb(
    calc(var(--contrast-colorR) + (2 * var(--light-factor))),
    calc(var(--contrast-colorG) + (2 * var(--light-factor))),
    calc(var(--contrast-colorB) + (2 * var(--light-factor)))
  );

  --primaryR: 10; --primaryG: 20; --primaryB: 160;
  --primary: rgb(var(--primaryR), var(--primaryG), var(--primaryB));
  --primary2: rgb(
    calc(var(--primaryR) + var(--light-factor)),
    calc(var(--primaryG) + var(--light-factor)),
    calc(var(--primaryB) + var(--light-factor))
  );
  --primary3: rgb(
    calc(var(--primaryR) + (2 * var(--light-factor))),
    calc(var(--primaryG) + (2 * var(--light-factor))),
    calc(var(--primaryB) + (2 * var(--light-factor)))
  );
  --primary4: rgb(
    calc(var(--primaryR) + (3 * var(--light-factor))),
    calc(var(--primaryG) + (3 * var(--light-factor))),
    calc(var(--primaryB) + (3 * var(--light-factor)))
  );
  --primary5: rgb(
    calc(var(--primaryR) + (4 * var(--light-factor))),
    calc(var(--primaryG) + (4 * var(--light-factor))),
    calc(var(--primaryB) + (4 * var(--light-factor)))
  );
  --primary-2: rgb(
    calc(var(--primaryR) - var(--light-factor)),
    calc(var(--primaryG) - var(--light-factor)),
    calc(var(--primaryB) - var(--light-factor))
  );
  --primary-3: rgb(
    calc(var(--primaryR) - (2 * var(--light-factor))),
    calc(var(--primaryG) - (2 * var(--light-factor))),
    calc(var(--primaryB) - (2 * var(--light-factor)))
  );

  --secondaryR: 171; --secondaryG: 154; --secondaryB: 99;
  --secondary: rgb(var(--secondaryR), var(--secondaryG), var(--secondaryB));
  --secondary2: rgb(
    calc(var(--secondaryR) + var(--light-factor)),
    calc(var(--secondaryG) + var(--light-factor)),
    calc(var(--secondaryB) + var(--light-factor))
  );
  --secondary3: rgb(
    calc(var(--secondaryR) + (2 * var(--light-factor))),
    calc(var(--secondaryG) + (2 * var(--light-factor))),
    calc(var(--secondaryB) + (2 * var(--light-factor)))
  );
  --secondary-2: rgb(
    calc(var(--secondaryR) - var(--light-factor)),
    calc(var(--secondaryG) - var(--light-factor)),
    calc(var(--secondaryB) - var(--light-factor))
  );
  --secondary-3: rgb(
    calc(var(--secondaryR) - (2 * var(--light-factor))),
    calc(var(--secondaryG) - (2 * var(--light-factor))),
    calc(var(--secondaryB) - (2 * var(--light-factor)))
  );

  --mutedR: 10; --mutedG: 20; --mutedB: 160;
  --muted: rgb(var(--mutedR), var(--mutedG), var(--mutedB));
  --muted2: rgb(
    calc(var(--mutedR) + var(--light-factor)),
    calc(var(--mutedG) + var(--light-factor)),
    calc(var(--mutedB) + var(--light-factor))
  );
  --muted3: rgb(
    calc(var(--mutedR) + (2 * var(--light-factor))),
    calc(var(--mutedG) + (2 * var(--light-factor))),
    calc(var(--mutedB) + (2 * var(--light-factor)))
  );
  --muted-2: rgb(
    calc(var(--mutedR) - var(--light-factor)),
    calc(var(--mutedG) - var(--light-factor)),
    calc(var(--mutedB) - var(--light-factor))
  );
  --muted-3: rgb(
    calc(var(--mutedR) - (2 * var(--light-factor))),
    calc(var(--mutedG) - (2 * var(--light-factor))),
    calc(var(--mutedB) - (2 * var(--light-factor)))
  );

  --shadow-color: rgb(10,20,80);
  --error: rgb(255,0,0);
}