.expand {
  animation-name: expand;
  animation-duration: 0.5s;
  animation-timing-function: linear;
}
@keyframes expand {
  from { max-height: 0px; }
  to { max-height: 60px; }
}
.collapse {
  animation-name: collapse;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: linear;
  overflow: hidden;
}
@keyframes collapse {
  from { max-height: 300px; }
  to { max-height: 0px; }
}

.distance {
  transition: opacity 0.6s, transform 0.6s;
  &.apply {
    opacity: 0.1;
    transform: scale(0.5);
  }
}

.appear {
  animation-name: appear;
  animation-fill-mode: forwards;
  animation-duration: 0.7s;
}
@keyframes appear {
  from {
    opacity: 0.2;
    transform: scale(0.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes disappear {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

%shimmer-back {
  content: '';    
  display: block;
  height: 100%;
  position: absolute;
  top: 0; left: 0;
  opacity: 1;
  width: 100%;
  z-index: -100;
  animation-name: fade-in-out;
  animation-iteration-count: infinite;
}
.shimmer {
  position: relative;
  &::after {
    @extend %shimmer-back;
    animation-duration: 4s;
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.1), transparent, rgba(255, 255, 255, 0.1));
  }
  &::before {
    @extend %shimmer-back;
    animation-duration: 3s;
    background-image: linear-gradient(90deg, transparent, rgba(155, 225, 255, 0.1), transparent);
  }
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes pulse {
    0% {
      filter: brightness(1);
    }
    50% {
      filter: brightness(2);
    }
    100% {
      filter: brightness(1);
    }
}
.fade-in-out {
  animation-name: fade-in-out;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}
@keyframes fade-in-out {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.5;
    }
    100% {
      opacity: 1;
    }
}

.slide-from-right {
  animation-name: slide-from-right;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
@keyframes slide-from-right {
    0% { transform: translateX(100%); opacity: 0; }
    50% { opacity: 100%; }
    100% { transform: translateX(0%); }
}
@keyframes slide-to-right {
    0% { transform: translateX(0%); opacity: 1; }
    20% { opacity: 0.5; }
    100% { transform: translateX(100%); opacity: 0; }
}

@keyframes slide-from-left {
    0% { transform: translateX(-100%); opacity: 0; }
    50% { opacity: 100%; }
    100% { transform: translateX(0%); }
}
@keyframes slide-to-left {
    0% { transform: translateX(0%); opacity: 1; }
    20% { opacity: 0.5; }
    100% { transform: translateX(-100%); opacity: 0; }
}