@import "colors";
@import "flex";
@import "type";
@import "animations";
@import "transitions";
@import "layout";
@import "spacing";

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  @extend .app-font;
  @extend .bg-base;
  @extend .contrast;
}

p, h1, h2, h3, h4 {
  margin: 0;
  padding: 0;
}
hr {
  margin: 20px 0;
  border-style: solid;
  border-width: 0.5px;
}

// SCROLLBAR
// ::-webkit-scrollbar
// {
//   width: 4px;
//   height: 4px;
// }
// ::-webkit-scrollbar-track
// {
//   background: transparent;
// }

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  @extend .tertiary;
  @extend .font1;
  @extend .italic;
}
::-moz-placeholder { /* Firefox 19+ */
  @extend .tertiary;
  @extend .italic;
}
:-ms-input-placeholder { /* IE 10+ */
  @extend .tertiary;
  @extend .italic;
}
:-moz-placeholder { /* Firefox 18- */
  @extend .tertiary;
  @extend .italic;
}

.nowrap {
  white-space: nowrap;
}

// VIEW ITEMS
.button {
  @extend .p2;
  @extend .p3-left;
  @extend .p3-right;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  border-radius: 30px;
  cursor: pointer;
  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  &.round {
    height: 80px;
    width: 80px;
    border-radius: 100%;
  }
}
select {
  height: 30px;
  font-size: 15px;
  overflow: hidden;
  outline: none;
}
.input {
  box-sizing: border-box;
  width: 100%;
  outline: none;
  border-radius: 0px;
  @extend .p2;
}
.spinner {
  min-width: 20px;
  min-height: 20px;
  border-radius: 100%;
  &.large {
    height: 80px;
    width: 80px;
  }
}
.pointer { cursor: pointer; }

$rounded-unit: 5px;
.rounded { border-radius: $rounded-unit; }
.rounded2 { border-radius: $rounded-unit * 2; }
.rounded3 { border-radius: $rounded-unit * 3; }
.circle { border-radius: 100%; }

.noscroll {
  overflow: hidden;
}
.scrolly {
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
.scrollx {
  overflow-x: scroll;
}

.hidden {
  display: none;
}
.hidden-input {
  position: fixed;
  top: -100%;
  opacity: 0;
  max-width: 0;
  overflow: hidden;
}

.blur {
  filter: blur(4px);
}
